<!DOCTYPE HTML>
<html>
<head>
	<title>Test</title>
	<!-- // <script type="text/javascript" src="{{url_for('static', filename='js/sock-io.js')}}"></script> -->
	 <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-2.1.3.min.js"></script>
	<script type="text/javascript" src="/static/js/highcharts.js"></script>
	<script type="text/javascript" src="/static/js/highcharts-exporting.js"></script>


	<script type="text/javascript" charset="utf-8">
		var socket
		$(document).ready(function(){
			namespace = '/test'; 
			socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
			socket.on('connect', function() {
			socket.emit('my event', {data: 'I\'m connected!'});
			});
		});

		$(function () {
			Highcharts.setOptions({

			});

			$('#container').highcharts({
				title: {
					text: "Monthly average temperature",
					x: -20 //center
				},
				subtitle: {
					text: "Source: WorldClimate.com",
					x: -20
				}, 
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150
                },
				yAxis: {
					title: {
						text:'Temperature (°C)', 
					},
					plotLines: [{
						value: 0, 
						wodth: 1, 
						color: '#808080'
					}], 
                    min: -1.5,
                    max: 1.5
                },
				tooltip: {
					valueSuffix: '°C'
				},
				plotOptions: {
					// chart: {
					// 	animation: false
					// },
					series: {
						marker: {
							enabled: false
						},
						animation: false
					}
				},

				legend: {
					layout: 'vertical', 
					align: 'center',
					borderWidth: 0
				},
				series: [
					{
						name: 'Tokyo', 
						data: []

					}
				]
			})	

			var chart = $('#container').highcharts(),
                serie = chart.series[0],
				i = 100 ;
                start = 0;
				redraw = false;

			$('#button').click(function () {
				i = i + (Math.random() * 10 - 5);
				chart.series[0].addPoint( i, false, true, false);
				redraw = true;
			});

			socket.on("graph", function(msg){
                var index;
                for (index = 0; index < msg["datas"].length; ++index) {
                    var len = chart.series[0].data.length;
                    var data = msg["datas"][index];
                    var date = new Date(data[0]*1000);
                    serie.addPoint([date, data[1]], false, len > 1000);
                }
				chart.redraw();
                // redraw = true;
			});

            var slider = document.getElementById('slider')
            slider.onchange =function(change) {
                socket.emit('control', {data: slider.value});
                document.getElementById('dispVal').innerHTML=slider.value;
            }

		});

	</script>
</head>

<body>
	<h1>
		Coucou
	</h1>

	<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	<button id="button" class="autocompare">Update first point</button>

     <form>
        <input id="slider" type="range" name="points" min="0" max="10">
        <p id="dispVal"> 1 <p>
    </form>
</body>